@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Thoth became credited by the ancient Egyptians as the inventor of writing, and was also considered to have been the scribe of the underworld; and the Moon became occasionally considered a separate entity, now that Thoth had less association with it and more with wisdom. For this reason Thoth was universally worshipped by ancient Egyptian scribes. Many scribes had a painting or a picture of Thoth in their "office". Likewise, one of the symbols for scribes was that of the ibis.</p>
<p>Thoth was inserted in many tales as the wise counselor and persuader, and his association with learning and measurement led him to be connected with Seshat, the earlier deification of wisdom, who was said to be his daughter, or variably his wife. Thoth's qualities also led to him being identified by the Greeks with their closest matching god Hermes, with whom Thoth was eventually combined as Hermes Trismegistus, also leading to the Greeks' naming Thoth's cult centre as Hermopolis, meaning city of Hermes.</p>

<p>It is also considered that Thoth was the scribe of the gods rather than a messenger. Anpu (or Hermanubis) was viewed as the messenger of the gods, as he travelled in and out of the Underworld and presented himself to the gods and to humans. It is more widely accepted that Thoth was a record keeper, not a divine messenger. In the Papyrus of Ani copy of the Egyptian Book of the Dead the scribe proclaims "I am thy writing palette, O Thoth, and I have brought unto thee thine ink-jar. I am not of those who work iniquity in their secret places; let not evil happen unto me." Chapter XXXb (Budge) of the Book of the Dead is by the oldest tradition said to be the work of Thoth himself.</p>

<p>There was also an Egyptian pharaoh of the Sixteenth dynasty named Djehuty (Thoth) after him, and who reigned for three years.</p>

<p>More Info: <a href="https://en.wikipedia.org/wiki/Thoth">Wikipedia</a></p> 